:root {
    /* Chart */
    --percentage-on: 60;
    --percentage-off: 40;
    --chart-color: var(--color-primary);
    --chart-width: 4;
}

/* Sidebar collapsed */
.sidebar-collapsed {
  --dahsboard-sidebar-width: 72px;
}

.sidebar-collapsed .vertical-nav .nav-text,
.sidebar-collapsed .logo-text {
    position: absolute;
    text-indent: -999em;
    width: 0;
    visibility: hidden;
}
.sidebar-collapsed .vertical-nav .nav-item a {
    justify-content: center;
}
.sidebar-collapsed .toggle-collapse .svg-icon {
    transform: rotate(180deg);
}