/* Sidebar collapsed */
.sidebar-collapsed {
  --dahsboard-sidebar-width: 72px;
}

.sidebar-collapsed .vertical-nav .nav-text,
.sidebar-collapsed .logo-text {
    position: absolute;
    text-indent: -999em;
    width: 0;
    visibility: hidden;
}
.sidebar-collapsed .vertical-nav .nav-item a {
    justify-content: center;
}
.sidebar-collapsed .toggle-collapse .svg-icon {
    transform: rotate(180deg);
}

/* Dashboard content */
.dashboard-content {
    width: calc(100vw - var(--dahsboard-sidebar-width));
    height: auto;
    position: relative;
    margin: var(--dashboard-header-height) auto auto var(--dahsboard-sidebar-width);
    padding: 3rem 4%;
}

.main-content-container {
    width: 100%;
    margin: 0 auto;
    /* padding: 2rem; */
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}